{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
  <div class="col-md-12"></div>
</div>

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}

  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="cat-item">
      <h3>{{item.title}}</h3>
      <p>{{item.description}}</p>
    </div>
  </div>
  <a href = '{{url_for('editItem', category_name = category.name, item_title = item.title)}}'>
    <button type="edit" class="btn btn-default" id="edit" type="submit">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Edit</button>
  <a href = '{{url_for('deleteItem', category_name = category.name, item_title = item.title)}}'>
    <button class="btn btn-default delete">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</button>
  </a>
  <div class="col-md-1"></div>
</div>
{% endblock %}
